*{
    font-family: 'lobster',Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


header nav{
    background-color: rgba( 212, 231, 197, 100%);
    height: 30px;
    text-align: center;
    word-spacing: 60px;
    margin: 0;
    padding: 0;
}

header a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

header h1{
    font-family: monospace;
    font-size: 100px;
    color: #41731F;
    background-color: #8BB468;
    font-weight: 500;
}

header h1:hover{
    color: red;

}
main{
    background-color:rgba( 139, 180, 104, 100%) ;
}

.youtube-des{
    padding: 50px;
    text-align: center;
    font-size: 30px;
    white-space: nowrap;
    background-color: rgba( 159, 190, 132, 100%);
}




#youtube-videos{
    text-align: center;
    letter-spacing: 40px;
    word-spacing: 400px;
    line-height: 200px;
    margin: 100px;
}

.sub-text h1{
    font-family: monospace;
    text-align: center;
    padding: 20px;
}

.sub-text h1:hover{
    font-size: 70px;
    white-space: nowrap;
}


footer{
    background-image: url(/aesthetic3.jpeg);
    background-position: 10px;

}


footer nav{
    font-size: large;
}

footer nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

footer nav a:hover{
    color: red;
}

footer>p{
    height: 30px;
    text-align: center;
    background-color: #D5E7C6;
}

footer p:hover{
    font-size: x-large;
}

.footer-socials{
    color: white;
}

footer ul{
    text-align: center;
}